body{
	background-image: url(../images/green004.jpg);
}
/* Diaporama */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

h1 {
	font-size: 50px;
	color: white;
	text-align: center;
}
/* Cache les images par défaut */
.mySlides {
	display: none;
}

/* Taille des images */
.mySlides img {
	width: 100%;
	border: 2px solid white;
	border-radius: 10px;
}

/* Phrases explicatives */
figcaption{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

/* Boutons avant et après */
.prev, .next {
	position: absolute;
	top: 45%;
	width: auto;
	margin-top: -22px;
	margin-left: 44px;
	padding: 10px;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}

.prev {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.next {
	right: 40px;
}

/* Boutons play et stop */
.playStopButton {
	width: 145px;
	margin: auto;
}

.play, .stop {
	width: 70px;
	height: 25px;
	border: 1px solid silver;
	border-radius: 10px;
	color: #0a5f66;
	background-color: white;
}

/* Bloc conteneur de mapid et data ci dessous */
#mapAndData {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

/* Carte */
#mapid {
	width: 45%;
	height: 350px;
	margin-top: 30px;
}

/* Bloc informations sur l'état de la station et formulaire */
#data {
	width: 30%;
	margin-top: 30px;
	padding: 20px;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
}

/* Si il n'y a pas de vélo disponible */
#noBike {
	background-color: red;
	border-radius: 10px;
	padding: 10px;
}

/* Bloc conteneur de bookingData et canvas ci-dessous */
#bookingSignature {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#bookingData {
	width: 42%;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 70px;
	padding: 20px;
	color: white;
	display: none;
	flex-direction: column;
	justify-content: space-around;
}

#addressAndName {
	font-size: 1.3em;
}

#canvas {
	display: none;
	margin-right: 130px;
	border: 2px solid black;
	border-radius: 10px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}

@media screen and (max-width: 768px)
{
	.prev, .next {
		top: 30%;
		margin-left: 0;
		background: none;
	}

	.next {
		right: -4px;
	}

	#mapAndData {
		flex-direction: column;
	}

	#mapid, #data, #bookingData {
		width: 100%;
		padding: 0;
	}

	#bookingSignature {
		flex-direction: column;
	}

	#bookingData {
		margin-left: 0;
	}

	#addressAndName {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#canvas {
		width: 50%;
		margin: auto;
		margin-top: 10px;
	}
}
