body{
	background-image: url(../images/green004.jpg);
}

h1 {
	font-size: 50px;
	color: white;
	text-align: center;
}

/* Diaporama */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Taille des images */
.mySlides img {
	width: 80%;
	margin-left: 95px;
	border: 2px solid white;
	border-radius: 10px;
}

/* Phrases explicatives */
figcaption{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

/* Boutons avant et après */
.prev, .next {
	position: absolute;
	top: 45%;
	width: auto;
	margin-top: -22px;
	margin-left: 44px;
	padding: 10px;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}

.prev {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.next {
	right: 40px;
}

/* Boutons play et stop */
.playStopButton {
	width: 145px;
	margin: auto;
}

.play, .stop {
	width: 70px;
	height: 25px;
	border: 1px solid silver;
	border-radius: 10px;
	color: #0a5f66;
	background-color: white;
}

/* Bloc conteneur de mapid et data ci dessous */
#mapAndData {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

#map{
	width: 70%;
	display: flex;
	flex-direction: column;
}

/* Carte */
#mapid {
	width: 70%;
	height: 350px;
	margin: auto;
}

/* Bloc informations sur l'état de la station et formulaire */
#data {
	margin-right: 30px;
	padding: 20px;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
}

/* Si il n'y a pas de vélo disponible */
#noBike {
	background-color: red;
	border-radius: 10px;
	padding: 10px;
}



#bookingData {
	width: 50%;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	color: white;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

#addressAndName {
	font-size: 1.3em;
}

#canvas {
	margin-right: 130px;
	border: 2px solid black;
	border-radius: 10px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}

#booking, input {
	height: 30px;
}

@media screen and (max-width: 1024px)
{
	.mySlides img {
		width: 100%;
		margin: auto;
	}

	.prev, .next {
		top: 30%;
		margin-left: 0;
		background: none;
	}

	.next {
		right: -4px;
	}

	#map {
		width: 100%;
	}

	#mapAndData {
		flex-direction: column;
	}

	#mapid, #data, #bookingData {
		width: 90%;
		margin: auto;
		box-sizing: border-box;
		margin-top: 10px;
		padding: 15px;
	}

	#canvas {
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
}

@media screen and (min-width: 640px){
	#canvas {
		width: 60%;
	}

	.prev, .next {
		top: 45%;
	}
}
