body{
	background-image: url(../images/green004.jpg);
}
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

h1 {
	font-size: 50px;
	color: white;
	text-align: center;
}
/* Hide the images by default */
.mySlides {
	display: none;
}

/* images size */
img {
	width: 100%;
}

figcaption{
	color: white;
	font-size: 1.5em;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
	position: absolute;
	top: 43%;
	width: auto;
	margin-top: -22px;
	margin-left: 40px;
	padding: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 18px;
	border-radius: 20px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}

.prev {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* Position the "next button" to the right */
.next {
	right: 40px;
}

.playStopButton {
	width: 145px;
	margin: auto;
}

.play, .stop {
	width: 70px;
	height: 25px;
	border: 1px solid silver;
	border-radius: 10px;
	color: #0a5f66;
	background-color: white;
}

#mapid {
	width: 45%;
	height: 350px;
	margin-top: 30px;
}

#data {
	width: 30%;
	margin-top: 30px;
	padding: 20px;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
}

#mapAndData {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

#booking {
	width: 42%;
	border: 2px solid black;
	border-radius: 10px;
	margin-left: 70px;
	padding: 20px;
	color: white;
	display: none;
	flex-direction: column;
	justify-content: space-around;
}

#noBike {
	background-color: red;
	border-radius: 10px;
	padding: 10px;
}

#bookingSignature {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#signature {
	display: flex;
}

#canvas {
	display: none;
	margin-right: 130px;
	border: 2px solid black;
	border-radius: 10px;
	background: linear-gradient(#8EAFC5, #2b82ca);
}
