/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* images size */
img {
	width: 100%;
}

/* Next & previous buttons */
.prev, .next {
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	margin-left: 40px;
	padding: 10px;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 18px;
	border-radius: 0 3px 3px 0;
}

.prev {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* Position the "next button" to the right */
.next {
	right: 40px;
	border-radius: 3px 0 0 3px;
}
